.App { 
  background-color: #0F0F0F;
  min-height: 100vh;
  width: 100vw;
}

.container-app {
  padding: 50px 100px;;
  background-color: #0F0F0F;
}

@media (max-width: 800px) {
  .modal {
    width: 450px;
  }
}

@media (max-width: 600px) {
  .container-app {
    padding: 50px 20px;
  }
  
  .container .trash {
    margin-left: 2px;
  }
  .info-container {
    margin: 20px 0 20px 0;
  }
  .card-biologia {
    margin-bottom: 25px;
  }
  .container .card-biologia {
    margin-bottom: 25px;
  }
  .container .card-artes {
    margin-bottom: 25px;
  }
  .container .card-geografia {
    margin-bottom: 15px;
  }
  .container .card-sociologia {
    margin-bottom: 15px;
  }
  
  .btn {
    font-size: 0;
    justify-content: center;
    width: 58px;
    margin-right: 25px
  }

  .modal {
    width: 300px;
    padding: 20px 40px;
  }

  .btn-confirm {
    width: 130px;
  }
}

@media (max-width: 430px) {
  .container-app {
    padding: 50px 20px;
  }

  .card-container {
    width: 130px;
  }

  .modal {
    width: 280px;
    padding: 20px 40px;
  }
}